*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #000;
}

.game-window {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70vh;
    height: 70vh;
    background-color: #fff;
    transform: translate(-50%, -50%);
    border-radius: 30px;
    overflow: hidden;
}

.start {
    position: absolute;
    width: 170px;
    height: 50px;
    background-color: #fff;
    top: calc(50% - 25px);
    left: calc(50% - 85px);
    border: 2px solid black;
    border-radius: 15px;
    font-size: 2em;
    cursor: pointer;
    animation: heartBeat 1s infinite;
    outline: 0;
    z-index: 1;
}

.game {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 65vh;
    height: 65vh;
    margin-bottom: 30px;
    background-color: #fff;
} 

.box{
    display: none;
    flex-basis: 30%;
    width: 100px;  
    height: 200px;
    margin: 10px;
    background-color: #000;
    border-radius: 15px;
    font-size: 9rem;
    font-family: 'Courier New', Courier, monospace;
    color: #fff;
    text-align: center;
    line-height: 200px;
    cursor: pointer;
}

#alert {
    display: none;
    position: absolute;
    background-color: rgba(255, 111, 111, 0.8);
    width: 75vh;
    height: 75vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#alert > button {
    position: absolute;
    background-color: #fff;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 120px;
    height: 35px;
    border: 2px solid black;
    font-size: 1.5em;
    font-weight: bold;
    cursor: pointer;
}